.container {
  margin-top: 50px;
  margin-bottom: 120px;
  max-width: 800px;
  padding: 50px;
}

.weather-container {
  margin-top: 50px;
  margin-bottom: 30px;
  max-width: 800px;
  border: 1px solid #e2e2e2;
  box-shadow: 40px 0px 200px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
}

h1.symbol {
  font-size: 130px;
}

h1.city {
  font-weight: 700;
}

h2.date {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h1.temp {
  font-weight: 300;
  display: inline;
  vertical-align: top;
}

h2.metric {
  display: inline;
  padding-bottom: 20px;
  vertical-align: top;
  margin-left: 10px;
}

.temp-today {
  display: block;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: black;
  display: inline;
}

.col-sm-4.today {
  margin-top: 30px;
  text-align: center;
}

.col-sm-8.entercity {
  margin-top: 290px;
}

.entercity {
  padding: 10px;
}

ul {
  list-style: none;
  text-align: right;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
}

.weekday {
  margin-top: 50px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

.weather-symbol {
  font-size: 50px;
  margin-bottom: 15px;
}

.high.temp {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.low.temp {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.openSource {
  display: inline;
  box-sizing: border-box;
}

.openSourceLink {
  text-decoration: underline;
}
